!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Refresh', :content => 180}
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="RA Finder"
  %body
    .main
      .location
        %h1= @nick_line
      .image
        %img{:height => "425", :width => "425", :src => @url, :alt => "Map"}
      .image.overlay
        %img{:height => "425", :width => "425", :src => "images/gmapsframe.png", :alt => "Map Overlay"}
      .events
        %h2="Today's Events"
        - @todays_events.each do |event|
          .event
            %strong= event.title
            =" - "
            = @tz.utc_to_local(event.start_time).strftime('%I:%M %p - %A %B %d, %Y')
        %br
        %h2="Upcoming Events"
        - @events.each do |event|
          .event
            %strong= event.title
            =" - "
            = @tz.utc_to_local(event.start_time).strftime('%I:%M %p - %A %B %d, %Y')
      .location
        %br
      
